  table {
    width: 100%;
  }

  .mat-column-companyName {
    width: 25%;
  }
  .mat-column-foundedDate {
    width: 25%;
  }
  .mat-column-revenue{
    width: 15%;
  }
  .mat-column-firstName{
    width: 15%;
  }
  .mat-column-email{
    width: 15%;
  }
  .header{
    padding-left: 20px;    
    padding-top: 20px;
    font-weight: bold;
}
th{
  color: #56A8DE;
}