.create-business-account-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: center;
    font-weight: bold;
}
h4{
    margin-bottom: 0px !important;
}