.example-spacer {
    flex: 1 1 auto;
  }

  .dashboardContainer{
    background-color: #472c62;
    color: white;
  }
  .mat-menu-content{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }