/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.w-100{
    width: 300px;
}
.w-600{
    width: 600px;
}
.mat-flat-button.mat-primary{
    background-color: #472c62;
}